{% extends 'base.html' %}

{% block head-title %}
profile - {{request.user.username}}
{% endblock %}

{% block title %}<div class='text-center flex-grow-1 p-3'><h1>{{request.user.username}}</h1></div>{%endblock%}

{% block content %}

<div class='row justify-content-center mb-3'>
    <img class='img-responsive' src='{{request.user.get_avatar}}' height=100 width=100>
</div>

<div class='row justify-content-center mb-3'>
    {% if form.errors %}
    {{form.errors}}
    {% endif %}
</div>

<div class='row justify-content-center'>
    <form method="post" enctype='multipart/form-data'>
    {% csrf_token %}
    {{ form.as_p }}
    <div class='btn-group-vertical' role='group' aria-label='Profule actions'>
        <button class="btn btn-primary" type="submit">Update</button>
        <a href="{% url 'logout' %}" class="btn btn-danger mt-1" type="submit">Exit</a>
    </div>
    </form>
</div>

{% endblock %}
