{% extends 'base.html' %}

{% block head-title %}
{{title|default_if_none:'HASKER'}}
{% endblock %}

{% block title %}<div class='text-center flex-grow-1 p-3'><h1>{{title|default:"Form!"}}</h1></div>{%endblock%}

{% block content %}
<div class='row justify-content-center'>
  <div class='panel'>
  <div class='panel-body'>
  <form method="post" enctype='multipart/form-data'>
    {% csrf_token %}

    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field }}
    {% endfor %}

    {% for field in form.visible_fields %}
      <div class="mb-1">
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
        {% if field.errors %}
            {% for error in field.errors %}
            <div class="form-text text-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}
      </div>
    {% endfor %}
    <button class="btn btn-primary" type="submit">Update</button>
  </form>
  </div>
  </div>
</div>
{% endblock %}
