{% extends 'base.html' %}

{% block head-title %}
{{title}}
{% endblock %}

{% block title %}<div class='text-center flex-grow-1 p-3'><h1>{{title}}</h1></div>{%endblock%}

{% block content %}
<div class='panel panel-info'>
    <div class='panel-body'>
        Registration complete. Check your email for password reset link.
    </div>
</div>
{% endblock %}
