{% extends 'base.html' %}
{% comment %} Generic POST form with multipart form-data enctype Usage of
similar template makes more sence in combination with crispy forms since it can
be fully controlled from python.
{% endcomment %}
{% block title %}
<div class='text-center flex-grow-1 p-3'>
  <h1>{{title|default:"Form"}}</h1>
</div>
{%endblock%}
{% block head-title %} {{title|default_if_none:'HASKER'}} {% endblock %} {% block content %}
<div class='row justify-content-center'>
  {% if form.errors %} {{form.errors}} {% endif %}

  <form method="post" enctype='multipart/form-data'>
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
</div>
{% endblock %}

