{% extends 'base.html' %}
{% block head-title %} HASKER - {{object.title}} {% endblock %}
{% block content %}
<section class='mt-20'>
  <h1>{{object.title}}</h1>
  <hr>
  <div>{{object.text|linebreaks }}</div>
  <div>{{object.upvotes_count}}</div>
  <div class='text-muted text-right'>{{object.user}}</div>
  <hr>
  {% for answer in object.get_answers %}
    <hr>
    <div id='answer_{{answer.id}}' class='row'>
      <div class="col-sm-2">
        <div class='d-flex justify-content-between'>
          <div class='d-flex justify-content-center flex-column'>
            <div class='text-center'>{{answer.upvotes_count}}</div>
            <a class='text-center' href="{% url 'qa:upvote_answer' pk=answer.id %}">+1</a>
            {% if answer.is_selected %}
                <span class="badge badge-success">selected</span></h1>
            {% elif show_select_url %}
                <a class='text-center' href="{% url 'qa:select_answer' pk=answer.id %}">select</a>
            {% endif %}
          </div>
          <div class='text-center'>
            <img src="{{answer.user.get_avatar}}" class='img-fluid' height=100 width=80>
            <div class=''>{{answer.user}}</div>
          </div>
        </div>
      </div>
      <div class="col-sm-10">{{answer.text|linebreaks}}</div>
    </div>
  {% endfor %}
  <hr>
  {% if show_answer_form %}
    <form action='{% url "qa:question_answer" question_id=object.id%}' method='POST'>
      {% csrf_token %}
      {{ answer_form.as_p }}
      <button type='submint'>pew</button>
    </form>
  {% endif %}
</section>
{% endblock %}

