{% extends 'base.html' %}
{% block title %}
<div class='text-center flex-grow-1 p-3'>
  <h1>Selected things</h1>
</div>
{%endblock%}
{% block content %}
<section class='mt-20'>
  <hr>
  {% for object in object_list %}
    <div class='row'>
      <div class="col-sm-2">{{object.upvotes_count}} / {{object.answers_count|default_if_none:0}}</div>
      <div class="col-sm-4"><a href="{{object.get_absolute_url}}" title="{{object.title}}">{{object.title}}</a>
      </div>
      <div class="col-sm-4">{{object.text|truncatewords:10}}</div>
      <div class="col-sm-2">
        <img src="{{object.user.get_avatar}}" title="{{object.user.username}}" height=100, width=80>
      </div>
    </div>
    <hr>
  {% endfor %}
</section>
{% endblock %}

