{% extends 'base.html' %}

{% block head-title %}
HASKER - registration
{% endblock %}

{% block title %}<div class='text-center flex-grow-1 p-3'><h1>{{title|default:"Login"}}</h1></div>{%endblock%}

{% block content %}
<div class='row justify-content-center'>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
{{ form.as_p }}
<input type="hidden" name="next" value="{{ next }}">
<input class="btn btn-secondary" type="submit" value="login">
<a class="btn btn-primary" href="{% url 'profile:profile_create' %}">Register</a>
</form>

</div>
{% endblock %}
